.block-1x1 {
  width: 17.6%;
  height: 14.33%;
}

.block-1x2 {
  width: 17.6%;
  height: 30.66%;
}

.block-2x1 {
  width: 37.2%;
  height: 14.33%;
}

.block-4x1 {
  @include flex-center();
  width: 96%;
  height: 14.33%;

  position: absolute;
  flex-direction: column;
  padding: 4px;
  border: 2px solid $acnt-clr;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;

  input {
    width: 100%;
    margin: 0;
    background-color: #fff;
    border: 1px solid $acnt-clr;
    text-align: right;
    line-height: 1;
    overflow: hidden;
  }

  &__result {
    height: 70%;
    padding: 6px 6px;
    border-radius: 0px 0px 2px 2px;    
    border-top: 0 !important;
    color: black;
    font-size: .85em; 
  }
  
  &__query {
    height: 30%;
    border-radius: 2px 2px 0 0;
    border-bottom: 0 !important;
    color: #606060;
    font-size: .35em;
  }

}



.btn {
  position: absolute;
  @include flex-center();
  padding: 4px;
  border: 2px solid $acnt-clr;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  transform-origin: top left;
  transition: 50ms ease-in-out;

  &:hover {
    background-color: #f0f0f0;
  }
  
  &:active {
    color: #fff;
    background-color: $acnt-clr;
    // border: 2px solid transparent;
    transform: translate(1px, 1px);
  }
}

