
.main__mode {
  @include flex-center();
  width: 17rem;
  // margin-top: 2rem;
  padding-top: .4rem;
  background-color: #fff;
  border: 2px solid $acnt-clr;
  border-top: 0;
  border-radius: 2px;
  // color: $acnt-clr;

  .calc-active {
    position: relative;
    border-top: 1px solid $acnt-clr;
    border-left: 1px solid $acnt-clr;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    opacity: 1 !important;

    // &:hover {
    //   border-bottom: 1px solid $acnt-clr;
    //   border-right: 1px solid $acnt-clr;
    // }
  }

  .constr-active {
    border-top: 1px solid $acnt-clr;
    border-right: 1px solid $acnt-clr;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    opacity: 1 !important;

    // &:hover {
    //   border-bottom: 1px solid $acnt-clr;
    //   border-left: 1px solid $acnt-clr;
    // }
}

.mode__cont {
  min-width: 50%;
  min-height: 100%;
  padding: .2em .3em;
  background-color: #fff;
  
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  opacity: .7;
  }

  img {
    margin-right: 1ch;
  }

  &--constr {
    float: left;
    border-radius: 2px 0 0 2px;
  }

  &--calc {
    float: right;
    border-radius: 0 2px 2px 0;
  }

  &--active {
    opacity: 1;
  }
}