@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Share Tech Mono", monospace;
}

#root {
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #101520;
  border-bottom: 2px solid #bebe35;
}
.header__title {
  color: #bebe35;
  margin: 1.5rem 0;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.footer {
  position: fixed;
  left: 50%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0.2rem 0.3rem;
  color: #daf0fa;
  background-color: #101520;
  font-size: 0.6rem;
  white-space: nowrap;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 0.3rem 0.3rem 0 0;
}
.footer:hover {
  color: #bebe35;
}

.box {
  position: relative;
  width: 40%;
  min-width: 18rem;
  aspect-ratio: 5/6;
  box-shadow: inset 0px 0px 10px 2px #101520;
  overflow: hidden;
  border-radius: 5px;
  font-size: max(3vw, 1.5rem);
}
.box--item {
  background-color: #daf0fa;
  border: 1px solid #bebe35;
}
.box--build {
  background-color: #daf0fa;
  border: 1px solid #bebe35;
}

.box + .box {
  margin-left: 2rem;
}

.block-1x1 {
  width: 18%;
  height: 14.67%;
}

.block-1x2 {
  width: 18%;
  height: 31.33%;
}

.block-2x1 {
  width: 38%;
  height: 14.67%;
}

.block-4x1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 14.67%;
  position: absolute;
  flex-direction: column;
  padding: 4px;
  border: 1px solid darkgrey;
  background-color: #dfdfdf;
  border-radius: 5px;
  overflow: hidden;
}
.block-4x1 input {
  width: 100%;
  margin: 0;
  background-color: #fff;
  text-align: right;
  line-height: 1;
  overflow: hidden;
}
.block-4x1__result {
  height: 70%;
  padding: 6px 6px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
  color: black;
  font-size: 1.1em;
}
.block-4x1__query {
  height: 30%;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  color: #606060;
  font-size: 0.5em;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: 1px solid darkgrey;
  background-color: #dfdfdf;
  border-radius: 5px;
  transform-origin: top left;
  transition: 50ms ease-in-out;
}
.btn:hover {
  background-color: #e5e5e5;
}
.btn:active {
  transform: translate(1px, 1px);
}

.mode__cont {
  min-width: 50%;
  min-height: 100%;
  padding: 0.2em 0.3em;
  background-color: #fff;
  border: 1px solid #bebe35;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
.mode__cont--constr {
  float: left;
  border-radius: 0.4rem 0 0 0.4rem;
  box-shadow: -1px -1px 1px 1px #9a8e0c inset;
  opacity: 0.7;
}
.mode__cont--calc {
  float: right;
  width: calc(50% - 0.5em);
  border-radius: 0 0.4rem 0.4rem 0;
  box-shadow: -1px -1px 1px 1px #9a8e0c inset;
  opacity: 0.7;
}
.mode__cont--active {
  box-shadow: unset;
  box-shadow: 1px 1px 1px 1px #9a8e0c inset;
  opacity: 1;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__mode {
  width: 17rem;
  margin: 2rem 0;
  padding: 0.5rem;
  background-color: #fef7ab;
  border: 2px solid #bebe35;
  border-radius: 0.5rem;
}/*# sourceMappingURL=index.css.map */